$backgroundtan: rgb(227, 224, 204);

#pledge {

    .background-tan {

        background-color: $backgroundtan;

    }

    h1 {

        font-weight: bold;
        color: darkolivegreen;
        text-align: center;

    }

}